.top-bar .twitter-frame { margin-top: 12px; }
.social-media-badges { padding-top: 12px;}
.social-media-badges .twitter-frame { margin-right: -32px;}
.fb-share-button { margin-top: -5px; }
.game .game-header .type { font-size: 1em;}

.alert-box.warning.disclaimer { color: #333333; }
.disclaimer .see-also { color: #333333; text-decoration: underline;}
.about-when-day { margin-bottom: 0;}

.heizenberg td { word-break: break-word; font-size: 0.625rem;}
.heizenberg th { word-break: break-word; font-size: 0.625rem;}

.heizenberg .col-even { background: #f4f4f4; }
.heizenberg .col-even, .heizenberg .col-odd { text-align: center; }


#gamelist .column {
  float: left;
  width: 33.33%;
}

#gamelist .column .row:after {
  content: "";
  display: table;
  clear: both;
}

#gamelist li {
	list-style: none;
}