---
layout: default
title: FAQ about Games on Demand at GenCon
description: FAQ about Games on Demand at GenCon
---

<article class="faq">
  <header class="faq-header">
    <h2 class="name">Frequently Asked Questions <small>(FAQ)</small></h2>
  </header>

  <nav>
    <ul class="inline-list">
      {% for question_group in site.data.faq %}
      <li><a class="button small" href="#{{ question_group.dom_id }}">{{ question_group.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  {% for question_group in site.data.faq %}
  <div id="{{ question_group.dom_id}}">
    <h3>{{ question_group.name }}</h3>
    {% for qa in question_group.questions %}
    <dl class="qa" itemscope itemtype="http://schema.org/Question">
      <dt class="question" itemprop="text">{{ qa.question }}</dt>
      <dd class="answer" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
        <span itemprop="text">{{ qa.answer || qa.tentative_answer }}</span>
      </dd>
    </dl>
    {% endfor %}
  </div>
  {% endfor %}
</article>