---
layout: default
title: Games on Demand at GenCon
description: List of Time Slots and Days for Games on Demand
---
<article class="homepage" itemscope itemtype="http://schema.org/SocialEvent">
  <meta itemprop="name" content="{{ page.title}}">

    <dl>
      <p></p>
    <h2>What is Gen Con Games on Demand?</h2>
    <dd>

    <p>Games on Demand is an open-gaming event, listed in the Gen Con schedule under the “Indie Games Exposion” organizational label. It typically consists of designated area with tables, materials, and a constant supply of enthusiastic volunteers prepared to run a variety of independent and cutting edge games.</p>

    <p>Games on Demand gives you the opportunity to drop by and play (or run!) new and interesting games throughout the show. The event is organized and run by friendly volunteers, and serves as a showcase for the most exciting small press tabletop games available.</p>

    <p>Games on Demand focuses on small press and independent games that often feature unusual mechanics or ideas, from creators and publishers who are mostly unknown in the broader industry. It’s very possible you won’t have heard about some of the games. No worries! The “on demand” part means that we’ll help you match your interests to a GM who is prepped and ready to go with just the right game.</p>
    
    <p>No experience or materials are required. You'll just need Generic Tickets and a willingness to try something new!</p>

    <p>For more information <a href="/faq/">see our FAQ</a> or <a href="//www.indiegamesondemand.org/">or find out about our larger organization at indiegamesondemand.org</a></p>
  </dl>


  <h3>Some of the Games Available in 2025</h3>
   
  <div class="row" id="gamelist">
    <div class="column">
      <ul>
        <li>Agon</li>
        <li>Alice is Missing</li>
        <li>Alien War</li>
        <li>Atlantic City 1978</li>
        <li>Bird Society</li>
        <li>Blades in the Dark</li>
        <li>Blister Critters</li>
        <li>Brindlewood Bay</li>
        <li>Danse Macabre</li>
        <li>DragonBane</li>
        <li>Dread</li>
        <li>Dungeons and Dragons fourth edition</li>
        <li>FIST: Ultra Edition</li>
        <li>For the Queen</li>
        <li>Forged in the Dungeon</li>
        <li>Greetings, Superfools!</li>
        <li>Hit!</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>In the Dark</li>
        <li>Kingdom 2nd Edition</li>
        <li>Lake Champlain 1808</li>
        <li>Magical Girl Machine Gun</li>
        <li>Mondo Fantastic</li>
        <li>Morts</li>
        <li>My Body is a Cage</li>
        <li>Mythic Bastionland</li>
        <li>Negocios Infernales</li>
        <li>Pathfinder first edition</li>
        <li>Protect the Child</li>
        <li>Psi*Run</li>
        <li>Rebel Scum 2e</li>
        <li>RingMaster</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>Sentinel Comics: The RPG</li>
        <li>Shadowrun 5th edition </li>
        <li>Sign</li>
        <li>Stealing the Throne</li>
        <li>Streets of Jade</li>
        <li>Tales From The Tape Deck</li>
        <li>The King is Dead</li>
        <li>The Wizard's Attic</li>
        <li>To Serve Her Wintry Hunger</li>
        <li>Understory</li>
        <li>Uranium Chef</li>
        <li>Wolves at the Lake</li>
      </ul>
    </div>
  </div> 

  <!-- <div class="row schedule">
    {% for day_data in site.data.times %}
      <div class="small-3 columns day {{ day_data[0] | downcase }}">
        {% assign date = day_data[1] %}
        {% assign day_slug = date.day | date: '%A' | downcase %}
        <div itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
          <div itemprop="description">
            <a class="button tiny round" itemprop="url" href="{{ site.url }}/{{ day_slug }}">
              <time datetime="{{ date.day }}">{{ date.day | date: '%a' }}</time>
            </a>
            <ul class="no-bullet">
              {% for times in date.times %}
              {% assign hour = times[0] %}
              {% assign hour_data = times[1] %}
              <li itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
                <meta itemprop="description" content="{{ date.day | date: '%A' }} {{ hour }}">
                <a class="button tiny secondary round" itemprop="url" href="#"><time datetime="{{ hour_data.time | date_to_xmlschema }}">{{ hour }}</time></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> -->
  
</article>
