---
layout: default
title: Games on Demand at GenCon
description: List of Time Slots and Days for Games on Demand
---
<article class="homepage" itemscope itemtype="http://schema.org/SocialEvent">
  <meta itemprop="name" content="{{ page.title}}">

    <dl>
      <p></p>
    <h2>What is Gen Con Games on Demand?</h2>
    <dd>

    <p>Games on Demand is an open-gaming event, listed in the Gen Con schedule under the “Indie Games Exposion” organizational label. It typically consists of designated area with tables, materials, and a constant supply of enthusiastic volunteers prepared to run a variety of independent and cutting edge games.</p>

    <p>Games on Demand gives you the opportunity to drop by and play (or run!) new and interesting games throughout the show. The event is organized and run by friendly volunteers, and serves as a showcase for the most exciting small press tabletop games available.</p>

    <p>Games on Demand focuses on small press and independent games that often feature unusual mechanics or ideas, from creators and publishers who are mostly unknown in the broader industry. It’s very possible you won’t have heard about some of the games. No worries! The “on demand” part means that we’ll help you match your interests to a GM who is prepped and ready to go with just the right game.</p>
    
    <p>No experience or materials are required. You'll just need Generic Tickets and a willingness to try something new!</p>

    <p>For more information <a href="/faq/">see our FAQ</a> or <a href="//www.indiegamesondemand.org/">or find out about our larger organization at indiegamesondemand.org</a></p>
  </dl>

  <!-- <div class="row schedule">
    {% for day_data in site.data.times %}
      <div class="small-3 columns day {{ day_data[0] | downcase }}">
        {% assign date = day_data[1] %}
        {% assign day_slug = date.day | date: '%A' | downcase %}
        <div itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
          <div itemprop="description">
            <a class="button tiny round" itemprop="url" href="{{ site.url }}/{{ day_slug }}">
              <time datetime="{{ date.day }}">{{ date.day | date: '%a' }}</time>
            </a>
            <ul class="no-bullet">
              {% for times in date.times %}
              {% assign hour = times[0] %}
              {% assign hour_data = times[1] %}
              <li itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
                <meta itemprop="description" content="{{ date.day | date: '%A' }} {{ hour }}">
                <a class="button tiny secondary round" itemprop="url" href="#"><time datetime="{{ hour_data.time | date_to_xmlschema }}">{{ hour }}</time></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> -->
  
</article>
