---
layout: default
title: Games on Demand at GenCon
description: List of Time Slots and Days for Games on Demand
---
<article class="homepage" itemscope itemtype="http://schema.org/SocialEvent">
  <meta itemprop="name" content="{{ page.title}}">

    <dl>
    <dt>Games on Demand at Gen Con 2024</dt>
    <dd>

    <p>Games on Demand is an open-gaming event, listed in the Gen Con schedule under the “Indie Games Exposion” organizational label. It typically consists of designated area with tables, materials, and a constant supply of enthusiastic volunteers prepared to run a variety of independent and cutting edge games.</p>

    <dt>What’s the Point?</dt>

    <p>Gaming conventions typically focus on scheduled games- you buy a ticket for an event, you find your seat, you play that game. But sometimes slots fill up, or the scheduling is impossible for you, or you can’t find the games that you want. These things happen, but it would be a shame if you couldn’t find a game to get into and have some fun.</p>

    <p>Games on Demand gives you the opportunity to drop by and play (or run!) new and interesting games throughout the show. The event is organized and run by friendly volunteers, and serves as a showcase for the most exciting small press tabletop games available.</p>

    <dt>Which games are on demand, exactly?</dt>

    <p>Games on Demand focuses on small press and independent games that often feature unusual mechanics or ideas, from creators and publishers who are mostly unknown in the broader industry. It’s very possible you won’t have heard about some of the games. No worries! The “on demand” part means that we’ll help you match your interests to a GM who is prepped and ready to go with just the right game.</p>

    <dt>Where can I find it?</dt>
    <dd>The 2024 Gen Con Games on Demand event is happening in the <strong>Westin Hotel in Grand Ballroom 3 on the second floor</strong>, near the convention center skywalk. 

    <dt>When should I be there?</dt>

    <dd>For the 2024 event, sessions will run from <strong>2pm-10pm on Thursday</strong> and <strong>10am-10pm on Friday and Saturday</strong>. There won’t be any sessions on Sunday. You should plan to arrive 10 minutes before the session start time.</dd>
    
    <dt>What do I need to bring</dt>
    <dd>
      <p>You'll need Generic Tickets and a willingness to try something new! No experience or materials are required.</p>
      <p>While some games might be suitable for players of age 10+, most games this year are for 18+.</dd>
    </dd>

    <dt>Further Questions</dt>
    <dd><a href="/faq/">See our FAQ</a></dd>

    <dt>More Information</dt>
    <dd><a href="//www.indiegamesondemand.org/">Find out more at indiegamesondemand.org</a></dd>
  </dl>

  <!-- <div class="row schedule">
    {% for day_data in site.data.times %}
      <div class="small-3 columns day {{ day_data[0] | downcase }}">
        {% assign date = day_data[1] %}
        {% assign day_slug = date.day | date: '%A' | downcase %}
        <div itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
          <div itemprop="description">
            <a class="button tiny round" itemprop="url" href="{{ site.url }}/{{ day_slug }}">
              <time datetime="{{ date.day }}">{{ date.day | date: '%a' }}</time>
            </a>
            <ul class="no-bullet">
              {% for times in date.times %}
              {% assign hour = times[0] %}
              {% assign hour_data = times[1] %}
              <li itemprop="subEvent" itemscope itemtype="http://schema.org/SocialEvent">
                <meta itemprop="description" content="{{ date.day | date: '%A' }} {{ hour }}">
                <a class="button tiny secondary round" itemprop="url" href="#"><time datetime="{{ hour_data.time | date_to_xmlschema }}">{{ hour }}</time></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> -->
  
</article>
