---
layout: game
title: Available Games for Games on Demand at GenCon
description: Available Games for Games on Demand at GenCon
---
<article class="available-games">
  <header class="available-games-header header">
    <h2 class="name">{{ page.title }}</h2>
  </header>

  <nav>
    <ul class="inline-list">
      {% assign previous_alpha_group = "" %}
      {% for game in site.data.games %}
        {% if game[1].alpha_group != previous_alpha_group %}{% assign previous_alpha_group = game[1].alpha_group %}<li><a class="button small round" href="#{{ previous_alpha_group }}">{{ previous_alpha_group }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </nav>

  <table>
    <caption>{{ page.title }}</caption>
    <thead>
      <tr>
        <th width="80%">Game</th>
        <th width="20%">Type</th>
      </tr>
    </thead>
    <tbody>
  {% assign previous_alpha_group = "" %}
  {% for game in site.data.games %}
    <tr>
      <td><a href="/available-games/{{game[0]}}/"{% if game[1].alpha_group != previous_alpha_group %}{% assign previous_alpha_group = game[1].alpha_group %} name="{{ previous_alpha_group}}"{% endif %}>
        {{ game[1].name }}
      </a></td>
      <td>{{ game[1].type }}</td>
    </tr>
  {% endfor %}
    </tbody>
  </table>

</article>
