<dt>Are there any perks for volunteering?</dt>
<dd>
  Aside from the warm fuzzy of altruism there are a few perks:
  <ul>
    <li>For every 8 hours (rounded up) of volunteering, you get one <a href="/faq/#pre-boarding-pass">pre-boarding pass</a>.</li>
    <li>If you volunteer 16 hours or more, you can get your badge fees reimbursed.</li>
  </ul>
<dt>A group of volunteers wants to grab a free table and play. Two questions:
  <ol>
    <li>Is it okay to grab a table?</li>
    <li>Do we have to pay tickets?</li>
  </ol>
</dt>
<dd>
  <ol>
    <li>Yes, but pull aside a host and clear it with them.</li>
    <li>No. But you must each share with each other a Games on Demand war story. And be ready to bail if space is needed.</li>
  </ol>
</dd>
<dt>I'm an off-schedule volunteer. Me and my three non-volunteer friends want to grab a free table and play. Two questions:
  <ol>
    <li>Is it okay to grab a table?</li>
    <li>Do we have to pay tickets?</li>
  </ol>
</dt>
<dd>
  <ol>
    <li>Yes, but pull aside a host and clear it with them.</li>
    <li>Everyone, except for the facilitator, must pay tickets.</li>
  </ol>
</dd>
<dt>Do we have access to a printer?</dt>
<dd>Maybe. The hotel business suite may be able to help.
</dd>
