<dt>A group of volunteers wants to grab a free table and play. Two questions:</p>
  <ol>
    <li>Is it okay to grab a table?</li>
    <li>Do we have to pay tickets?</li>
  </ol>
</dt>
<dd>
  <ol>
    <li>Yes, but pull aside a host and clear it with them.</li>
    <li>No. But you must each share with each other a Games on Demand war story. And be ready to bail if space is needed.</li>
  </ol>
</dd>
<dt><p>I'm an off-schedule volunteer. Me and my three non-volunteer friends want to grab a free table and play. Two questions:</p>
  <ol>
    <li>Is it okay to grab a table?</li>
    <li>Do we have to pay tickets?</li>
  </ol>
</dt>
<dd>
  <ol>
    <li>Yes, but pull aside a host and clear it with them.</li>
    <li>Everyone, except for the facilitator, must pay tickets.</li>
  </ol>
</dd>
