<section id="{{ day.day | date: '%A' | downcase }}" class="day">
  <header class="day-header">
    <h2 class="header"><time datetime="{{ day.day }}">{{ day.day | date: '%A' }}</time></h2>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gamesondemand.github.io/{{ day.day | date: '%A' | downcase }}" data-via="gamesondemand" data-hashtags="gencon,gamesondemand">Tweet</a>
  </header>
  <div class="time-slots">{% for time in day.times %}
    {% include time.html time = time %}
  {% endfor %}</div>
</section>
