<p itemprop="description">
  <span itemprop="organizer">Games on Demand</span>
  <meta itemprop="startDate" content="2014-08-14">
  <meta itemprop="duration" content="2014-08-14T10:00:00-0400/P4D">
  <meta itemprop="endDate" content="2014-08-17">
  kicks off at <date itemprop="doorTime" datetime="2014-08-14T10:00:00-0400">10am on Thursday</date>.
  The last games start <date datetime="2014-08-17T12:00:00-0400">at 12pm on Sunday</date>, wrapping up <date itemprop="endDate" datetime="2014-08-17T14:00:00-0400">at 2pm on Sunday</date>.
</p>

<p>Follow us <a class="twitter-follow-us" href="http://twitter.com/games_on_demand">@games_on_demand</a></p>

</p>
  The games played are for ages <span itemprop="typicalAgeRange">10+, though most are for 18+</span>.
</p>

<p itemprop="location" itemscope="" itemtype="http://schema.org/EventVenue">Find us at
  <a target="_blank" href="https://www.google.com/maps/place/Hyatt+Regency+Indianapolis/@39.7662801,-86.1631967,17z/data=!3m2!4b1!5s0x886b50bb9fa8aba1:0xe2320e12d6dd91c9!4m5!3m4!1s0x886b50bbba57ddad:0xb65b1bb198f721c!8m2!3d39.766276!4d-86.161008"><span itemprop="name">Hyatt Regency Indianapolis</span>, <span itemprop="description">2nd floor, Ballroom A/B, One South Capitol Avenue</span></a>
  <meta itemprop="address" content="One South Capitol Avenue, Indianapolis, Indiana, USA, 46204 USA">
</p>
