<p itemprop="description">
  <span itemprop="organizer">Games on Demand</span>
  <meta itemprop="startDate" content="2014-08-14">
  <meta itemprop="duration" content="2014-08-14T10:00:00-0400/P4D">
  <meta itemprop="endDate" content="2014-08-17">
  kicks off at <date itemprop="doorTime" datetime="2014-08-14T10:00:00-0400">10am on Thursday</date>.
  The last games start <date datetime="2014-08-17T12:00:00-0400">at 12pm on Sunday</date>, wrapping up <date itemprop="endDate" datetime="2014-08-17T14:00:00-0400">at 2pm on Sunday</date>.
</p>

<p>Follow us <a class="twitter-follow-us" href="http://twitter.com/games_on_demand">@games_on_demand</a></p>

</p>
  The games played are for ages <span itemprop="typicalAgeRange">10+, though most are for 18+</span>.
</p>

<p itemprop="location" itemscope="" itemtype="http://schema.org/EventVenue">Find us at
  <a target="_blank" href="https://www.google.com/maps/place/350+W+Maryland+St,+Indianapolis,+IN+46225/@39.7662266,-86.164766,18z/data=!4m2!3m1!1s0x886b50ba9cb559e7:0xae912acda532d288"><span itemprop="name">Indianapolis Marriott Downtown</span>, <span itemprop="description">2nd floor, Ballroom 6, 350 West Maryland St.</span></a>
  <meta itemprop="address" content="350 West Maryland Street, Indianapolis, IN 46225 USA">
</p>
