
<p>The 2024 Gen Con Games on Demand event is happening in the <strong>Westin Hotel in Grand Ballroom 3 on the second floor</strong>, near the convention center skywalk.</p>

<p>Sessions will run from <strong>2pm-10pm on Thursday</strong> and <strong>10am-10pm on Friday and Saturday</strong>. There won’t be any sessions on Sunday. You should plan to arrive 10 minutes before the session start time.</p>

</p>While some games might be suitable for players of age 10+, most games this year are for 18+.</p>

