<article class="game">
  <header class="game-header">
    <h2 class="name">{{ game.name }} <small class="type">({{ game.type }})</small></h2>
  </header>

  <nav>
    <h3>Times</h3>
    <ul class="inline-list">
      {% assign previous_slug = '' %}
      {% for offering_time in site.data.game_offerings[game_id] %}
      {% if previous_slug != offering_time.slug %}{% assign previous_slug = offering_time.slug %}
      <li><a class="button tiny round" href="/{{ offering_time.slug }}">{{ offering_time.label }}</a></li>
      {% endif %}{% endfor %}
    </ul>
  </nav>

  <nav>
    <h3>Faciliators</h3>
    <ul class="inline-list">
      {% for facilitator in game.facilitators %}
      <li><a class="button tiny round" href="#{{ facilitator[0] }}">{{ facilitator[1].facilitator_name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <div class="game-offerings">
    <h3>Game Info</h3>

    {% for facilitator in game.facilitators %}
    {% assign offering = facilitator[1] %}
    <section class="panel game-offering">
      <dl>
        <dt>Facilitator</dt>
        <dd><a name="{{ facilitator[0] }}">{{ offering.facilitator_name }}</a></dd>
        <dt>Name</dt>
        <dd>{{ offering.name }}</dd>
        <dt>Times</dt>
        <dd>
          {% assign any_offerings = site.data.game_offerings[game_id] | first %}
          {% if any_offerings %}
          <ul class="inline-list">
            {% for offering_time in site.data.game_offerings[game_id] %}
            {% if offering_time.facilitator_id == facilitator[0] %}
            <li><a href="/{{ offering_time.slug }}">{{ offering_time.label }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% else %}
          <p>{{ offering.facilitator_name }} has not committed to specific scheduled times. <a href="/faq/#offered-game-not-on-schedule">See our FAQ for more information.</a></p>
          {% endif %}
        </dd>
        <dt>Duration</dt>
        <dd>{{ offering.duration }} hours</dd>
        <dt>Number of Players</dt>
        <dd>{{ offering.minimum_players }} to {{ offering.maximum_players }}</dd>
        <dt>Audience</dt>
        <dd>{{ offering.audience }}</dd>
        <dt>Pitch</dt>
        <dd>{{ offering.pitch }}</dd>
      </dl>
    </section>
    {% endfor %}
  </div>
</div>