<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li itemprop="name" class="name">
      <h1><a href="/">{{ site.short_name }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon hide-for-print"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section hide-for-print">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/about/">About</a>
      <li class="has-dropdown">
        <a href="/#schedule">Schedule</a>
        <ul class="dropdown">
          {% for day_data in site.data.times %}{% assign day = day_data[0] %}
          <li><a href="/{{ day | lowercase }}/">{{ day | capitalize }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/available-games/">Available Games</a>
        <ul class="dropdown">
          {% assign previous_alpha_group = "" %}{% for game in site.data.games %}{% if game[1].alpha_group != previous_alpha_group %}{% assign previous_alpha_group = game[1]alpha_group %}<li><a href="/available-games/#{{ previous_alpha_group }}">{{ previous_alpha_group }}</a></li>{% endif %}{% endfor %}
        </ul>
      </li>
      <li><a href="/map/">Map</a></li>

    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="/faq/">FAQ</a>
        <ul class="dropdown">
          {% for group in site.data.faq %}
          <li><a href="/faq/#{{ group.dom_id }}">{{ group.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/for-hosts/">For Hosts</a></li>
      <li><a href="/for-gms/">For GMs</a></li>
    </ul>
  </section>
</nav>

<nav class="social-media-badges hide-for-print">
  <div class="row">
    <ul class="inline-list no-bullet">
      <li class="social-media-item twitter-frame"><a href="twitter://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}/{{ page.path }}" data-via="gamesondemand" data-hashtags="gencon,gamesondemand">Tweet</a></li>
      <li class="social-media-item"><div class="fb-share-button" data-width="80" data-type="button" data-href="{{ site.url }}/{{ page.path }}"></div></li>
      <li class="social-media-item"><div class="g-plus" data-action="share" data-width="80"></div></li>
    </ul>
  </div>
</nav>