<nav class="navigation">
  <h2 class="navigation-title">Navigation</h2>
  <ul class="navigation-link-list">
    <li class="navigation-link">Home</li>
    <li class="navigation-link"><a href="/#schedule">Schedule</a></li>
    <li class="navigation-link"><a href="/available-games/">Available Games</a></li>
    <li class="navigation-link"><a href="/faq/">FAQ</a></li>
    <li class="navigation-link"><a href="/for-hosts/">For Hosts</a></li>
    <li class="navigation-link">For GMs</li>
  </ul>
</nav>
