<div id="{{ time.time | date: '%A-%H' | downcase }}" class="time-slot">
  <header>
    <h3 class="header">
      <time datetime="{{ time.time | date_to_xmlschema }}" >{{ page.title }}</time>
    </h3>
  </header>
  <div class="time-slot-duration two-hour">
    <header>
      <h4 class="header">Two (2) Hour Games</h4>
    </header>
    <div class="content">
      <ul class="time-slot-game-list">
        {% for data in time.two_hour_games %}
          {% assign game = site.data.games[data.game_id] %}
          {% assign offering = game.facilitators[data.facilitator_id] %}
          <li class="time-slot-game-list-item">
            <a href="/available-games/{{ data.game_id }}/#{{ data.facilitator_id }}">{{ offering.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="time-slot-duration four-hour">
    <header>
      <h4 class="header">Four (4) Hour Games</h4>
    </header>
    <div class="content">
      <ul class="time-slot-game-list">
        {% for game_id in time.four_hour_games %}
          {% assign game = site.data.games[game_id] %}
          <li class="time-slot-game-list-item">{{ game.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
