<div id="{{ time.time | date: '%A-%H' | downcase }}" class="time-slot">
    <header>
    <h3 class="header">
      <time datetime="{{ time.time | date_to_xmlschema }}" >{{ time.time | date: '%A'}} {{ time.abbreviation }}</time>
    </h3>
  </header>

  <table>
    <caption>Two (2) Hour Games {{ time.time | date: '%A'}} {{ time.abbreviation }}</caption>
    <thead>
      <tr>
        <th width="70%">Game</th>
        <th width="10%">Type</th>
        <th width="10%">Players</th>
        <th width="10%">Audience</th>
      </tr>
    </thead>
    <tbody>
      {% for data in time.two_hour_games %}
        {% assign game = site.data.games[data.game_id] %}
        {% assign offering = game.facilitators[data.facilitator_id] %}
      <tr>
        <td><a href="/available-games/{{ data.game_id }}/#{{ data.facilitator_id }}">{{ offering.name }}</a></td>
        <td>{{ offering.type }}</td>
        <td>{{ offering.minimum_players }} to {{ offering.maximum_players }}</td>
        <td><span class="audience audience-{{ offering.audience }}">{{ offering.audience }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <caption>Four (4) Hour Games {{ time.time | date: '%A'}} {{ time.abbreviation }}</caption>
    <thead>
      <tr>
        <th width="70%">Game</th>
        <th width="10%">Type</th>
        <th width="10%">Players</th>
        <th width="10%">Audience</th>
      </tr>
    </thead>
    <tbody>
      {% for data in time.four_hour_games %}
        {% assign game = site.data.games[data.game_id] %}
        {% assign offering = game.facilitators[data.facilitator_id] %}
      <tr>
        <td><a href="/available-games/{{ data.game_id }}/#{{ data.facilitator_id }}">{{ offering.name }}</a></td>
        <td>{{ offering.type }}</td>
        <td>{{ offering.minimum_players }} to {{ offering.maximum_players }}</td>
        <td><span class="audience audience-{{ offering.audience }}">{{ offering.audience }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
