<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }}</title>
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:site_name" content="{{ site.name }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@games_on_demand">
    <meta name="twitter:creator" content="@games_on_demand">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.twitter_image_path }}"
    <meta name="og:image" content="{{ site.url }}{{ site.twitter_image_path }}"
    <meta property="og:type" content="website" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="description" content="{{ page.description }}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics_id}}', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>

    <div class="site">
      <header class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer class="footer">
        {% include navigation.html %}
      </footer>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
